{
  "extends": ["wesbos"],
  "rules": {
    "quotes": ["error", "double"],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": false,
        "printWidth": 120,
        "tabWidth": 8
      }
    ]
  }
}
